{{ partial "header" . }}

<div class='container'>

	<!--iframe src="/search" height="640" width="480" sandbox="allow-same-origin allow-scripts allow-forms" scrolling="no"
	style="overflow:hidden;background:orange;" ></iframe-->

</div>


<script src='/assets/js/fuse_search.cc21252e.js'></script>

	
	{{- with .Site.Params.search.client.fuse -}}
	  
	  <!--
	  {{- if eq . "lunr" -}}
	  <script src='{{ ( print "search/lunr_idx.js?build=" ( now.Format "200601021504" ) ) | relLangURL }}'></script>
	  {{- else if eq . "algolia" -}}
	  <script>window.algolia = {
	    appId: '{{ $.Site.Params.search.algolia.appId }}',
	    indexName: '{{ $.Site.Params.search.algolia.indexName | default "minimo_site" }}',
	    searchApiKey: '{{ $.Site.Params.search.algolia.searchApiKey }}'
	  }</script>
	  {{- end -}}
	  -->
	
	  {{- $scriptKey := ( print . "_search" ) -}}
	  {{- $scriptName := ( index $.Site.Data.assets $scriptKey ).js -}}
	  <script src='{{ print "assets/js/" $scriptName | relURL }}'></script>
	{{- end -}}
	

