<footer class="mt5" id="contact">
	<section class="cf w-100 pv3 f4 ph3 ph4-ns">
    <div class="fl w-80 w-80-ns w-80-m w-two-thirds-l pl2">
      <div class="fr w-100 f4"><!-- w-100-ns w-100-m measure-custom-l -->
        <ul class="tr list source_sans_prolight pr0 fs-5vmin fs-6vmin-ns fs-4vmax-m fs-8vmin-l lh-5vh"><!-- f4 f3-ns f4-m f2-l pr0 -->
          <li class="pt3 moon-gray" id="matchingItemsOutput">Simplicity is the ultimate</li>
          <!--li class="pt3">
            {{ if .Site.Params.email }}
              <a class="no-underline bg-animate" href="mailto:{{ .Site.Params.email }}" title="Email {{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="mailto:alan.scott.phillips@pm.me?subject=I%20have%20seen%20your%20website">alan.scott.phillips@pm.me</a>
            {{ end }}
          </li-->
          <li class="pt3">
            {{ if .Site.Params.twitter }}
              <a class="no-underline bg-animate" href="http://twitter.com/{{ .Site.Params.twitter }}" title="Twitter">@{{ .Site.Params.twitter }}</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="https://twitter.com/inspiredlabs">@InspiredLabs</a>
            {{ end }}
          </li>
          <li class="pt3">
            {{ if .Site.Params.facetime }}
              <a class="no-underline bg-animate" href="facetime-audio:{{ .Site.Params.facetime }}" title="Facetime">Facetime</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="facetime-audio:aspgfx@yahoo.com">Facetime</a>
            {{ end }}
          </li>
          <li class="pt3">
            {{ if .Site.Params.linkedin }}
              <a class="no-underline bg-animate" href="http://linkedin.com/in/{{ .Site.Params.linkedin }}/en" title="Linkedin">LinkedIn</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="https://linkedin.com/in/urbanaut/" title="Linkedin">LinkedIn</a>
            {{ end }}
          </li>
          <li class="pt3">
            {{ if .Site.Params.github }}
              <a class="no-underline bg-animate" href="https://github.com/{{ .Site.Params.github }}" title="GitHub">Github</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="https://github.com/inspiredlabs" title="GitHub">Github</a>
            {{ end }}
          </li>
          <li class="pt3">
            {{ if .Site.Params.skype }}
              <a class="no-underline bg-animate" href="skype:{{ .Site.Params.skype }}" title="Skype">Skype</a>
              {{ else  }}
              <a class="no-underline bg-animate" href="skype:theurbanaut?chat">Skype</a>
            {{ end }}
          </li>
          <li class="pt3 moon-gray">&#169;&hairsp;{{ now.Format "2006" }}</li>
        </ul>
        </div><!-- /fr -->
    </div><!-- /fl -->
	</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns -->
</footer><!-- /contact -->
{{ partial "script.html" . }}
</body>
</html>
