{{ partial "head" . }}
{{ partial "nav.html" . }}

<div id="content">
	<ul class="list">
			<li class="post-holder"><!-- Begin: li.html -->
			
			<article class="mt5"><!-- id="" -->
				<section class="cf w-100 pv3 f4 ph3 ph4-ns">
					<div class="mw9 center ph3-ns">
					  <div class="ph2-ns">
					    <div class="fl w-100 w-70-ns pr4"><!-- w-two-thirds -->
					      <div class="pv4 fr w-100 w-90-m w-80-l"><!-- outline bg-black-05 truncate no-wrap -->
                  <a href="{{ .Site.BaseURL }}" class="no-underline db f4 source_sans_prolight charcoal"><!-- class="no-underline db f5 courier" -->
                    <!-- ttn tracked source_sans_prolight -->
                    <svg style="-webkit-transform: translate3d(0,0,0);" viewBox="-356 234.3 128 128" class="no-select pr3 h1">
                      <use xlink:href="#home"></use>
                    </svg>
                    <span>{{ .Site.BaseURL | absURL | replaceRE "//" "" }}{{/* .Site.Title */}}</span>
                    <!-- <time class="black b">{{- dateFormat " 2006-01-01" .Date -}}</time> -->
                  </a>
				    			<hr class="ba bw1 mb0 b--black-10"/>
					      	<!--<details class="details">-->
					      		<span class="list"><!-- summary -->
					      			<header class="fl w-100 pr4-ns">
					      				<!--a id="blog-logo" href="{{ .Site.BaseURL}}">
					      				    {{ if .Site.Params.logo }}
					      				        <a id="blog-logo" href="{{ .Site.BaseURL}}"><img src="{{ .Site.Params.logo }}" alt="Blog Logo" /></a>
					      				    {{else}}
					      				        {{ .Site.Title }}
					      				    {{ end }}
					      				</a-->
					      				<h1 class="f2 lh-title fw9 mb3 pt0">
					      					<span class="source_sans_probold">{{ .Title }}</span>
					      				</h1>
					      				<h2 class="f3 mid-gray lh-title">
					      				  <span class="source_sans_probold">{{ .Description }}</span>
					      				</h2>
					      			</header>
					      			<p class="f4-ns mt0-ns">
					      				<span class="source_sans_prosemibold">{{ .Params.assignment }}</span>
					      				{{ if .Params.location }}
					      				<span class="source_sans_probold">&hairsp;—&nbsp;{{ .Params.location }}</span><!-- | safeHTML-->
					      				{{ end }}
                      </p>
                      {{ partial "date" . }}
			      				</span><!-- /summary -->
                    <!-- .Content -->
                    
                      {{ partial "content" . }}
                    
				      		<!--</details>-->
				       </div><!-- /fr outline -->
			      </div><!-- /w-two-thirds -->
			    </div><!-- /ph2-ns -->
			  </div><!-- /mw9 center ph3-ns -->
				</section><!-- /cf w-100 pv3 f4 ph3 ph4-ns --> 
			</article>
		</li><!-- /li.html -->
	</ul>
</div>
{{ partial "footer" . }}