<li class="post-holder" id='{{ .Title | urlize | safeHTML }}'>
  <data class="meta dn">
    {{ .Title }}{{/* What sanitisation formatting needs to be done? */}}
    {{ .Description }}
    {{ .Params.assignment }}
    {{ .Params.location }}
    {{ .PlainWords }}
  </data>

  <article class="mt5">
    <section class="cf w-100 pv3">
      <div class="fl w-80 w-80-ns w-80-m w-two-thirds-l pl2 pl1-ns pl4-m pr4-m pl2-l"><!-- `pl1-ns pl4-m pr4-m pl2-l` -->
        <div class="fr w-100 w-100-ns w-100-m measure-custom-l f4">
          <a href="{{ .Permalink }}" class="no-underline db f4 source_sans_prolight charcoal">
            <svg style="-webkit-transform: translate3d(0,0,0);" viewbox="0 0 482 482" class="no-select pr3 h1 ">
              <use xlink:href="#url"></use>
            </svg>
            <span>{{ .Permalink | absURL | replaceRE "https://" "" }}</span><!-- class="red" -->
          </a>
          <hr class="ba bw1 mb0 b--black-10" />
          <details class="details" {{if isset .Params "open" }}{{ if .Params.open }}open='open' {{ end }}{{end}}>
            <summary class="no-clutter list">
              <header class="fl w-100">
                <h1 class="f2 lh-title fw9 mb3 pt0">
                  <span class="source_sans_probold">{{ .Title | safeHTML }}</span>
                </h1>
                <h2 class="f3 mid-gray lh-title">
                  <span class="source_sans_probold" >{{ .Description | safeHTML }}</span>
                </h2>
              </header>



              <p class="f4-ns mt0-ns">
                <span
                  class="source_sans_prosemibold">{{ if .Params.assignment }}{{ .Params.assignment | safeHTML }}{{end}}</span>
                {{ if .Params.location }}
                <span
                  class="source_sans_probold">&hairsp;—&nbsp;{{ if .Params.location }}{{.Params.location | safeHTML }}{{end}}</span>
                <!-- | safeHTML-->
                {{ end }}
              </p>
              {{ partial "date" . }}
            </summary>

            <div data-hide class="w-100"><!-- w-50 fixed z-2 mt0 pa1 top-0 z-2 -->
              {{ $bg := .Params.bg }}
              {{ range first 1 (.Resources.ByType "image") }}
              <div class='carousel aspect-ratio aspect-ratio--1x1'
                data-flickity='{"lazyLoad": true, "pageDots": false, "prevNextButtons": false, "draggable": false }'>
                <div class='carousel-cell aspect-ratio--object cover'>
                  <!-- cell-{{/* sha1 .Title */}}{{/* .RelPermalink | absURL */}} {{/* with .Page.Resources.GetMatch "images" */}} -->
                  <a
                    data-a11y-dialog-show="my-accessible-dialog"
                    title="{{ .RelPermalink | absURL }}"
                    href="#cell-{{ sha1 .Title }}">
                    <img class='carousel-cell-image' data-flickity-lazyload='{{ .RelPermalink | absURL }}' alt='Portfolio Image' />
                  </a>
                </div>
                {{ end }}
              </div>

              {{ partial "content.html" . }}

            </div>
          </details>


        </div><!-- /fr -->
      </div><!-- /fl -->
    </section><!-- /cf -->
  </article><!-- /mt5 -->
</li><!-- /post-holder -->
