{{ partial "head" . }}
{{ partial "nav.html" . }}
<div id="content">
	<ul class="list pl0">
    
    
    {{ range .Data.Pages.ByDate.Reverse.ByWeight }}
    {{ if ne .Title "Contact" }}
    {{ .Render "li" }}
    {{ end }}    
    {{ end }}
    <!-- /.Data.Pages.ByDate.Reverse.ByWeight -->


    

    {{ range .Data.Pages.ByDate.Reverse.ByWeight }}
    {{ if eq .Title "Contact" }}
    {{ .Render "li" }}
    {{ end }}
    {{ end }}
    
    
	</ul>
</div>
{{ partial "footer" . }}
