{{ if eq .Site.Title  .Title }}
	{{ $type := "list" }}
	{{- partial "type" (dict "context" . "type" $type ) -}}
{{ end }}

{{ partial "head" . }}
{{ partial "nav.html" . }}
<main id="content" >
	<ul class="list pl0"><!-- bg-debug -->

    {{ range .Data.Pages.ByDate.Reverse.ByWeight }}
	    {{ if ne .Title "Contact" }}
		    {{ .Render "li" }}
	    {{ end }}
    {{ end }}


    {{ range .Data.Pages.ByDate.Reverse.ByWeight }}
	    {{ if eq .Title "Contact" }}
		    {{ .Render "li" }}
	    {{ end }}
    {{ end }}

	</ul>
</main>
{{ partial "portfolio" . }}
{{ partial "footer" . }}
