{{ partial "head" . }}

<div class="fl w-two-thirds bg-red">
  <div class="fr w-measure bg-green f4" style="max-width: 40rem;">
    {{ partial "content" . }}
  </div>

</div>
<div class="fl w-third bg-gold source_sans_prolight pl2">
  <ul class="list pl0  f5 f2-l fs-8vmin fs-5vmax lh-5vh" ><!-- too large: lh-16vh -->
    <li>About</li>
    <li>Portfolio</li>
    <li>Awards</li>
    <li>Visual</li>
    <li>UX</li>
    <li>AI</li>
  </ul>
</div>


<div class="fl w-two-thirds bg-gold">
  <div class="fr w-measure bg-red f4" >
    <h2>footer</h2>
  </div>
</div>






