<style>

/* .portfolio img { background-color: yellow; } */

/* fade in image when loaded */
.portfolio-cell {  
  /*margin-right: 10px */;
  background: var(--charcoal);
  /* counter-increment: portfolio-cell; */
  transition: opacity 0.4s;
  opacity:0;
}

.portfolio-cell.flickity-bg-lazyloaded,
.portfolio-cell.flickity-lazyerror {
  opacity: 1;
}
 
button[aria-expanded="true"] {
  /* https://codepen.io/inspiredlabs/pen/ydadxB
  box-shadow: inset 5px 5px #999;
  background: #ddd; 
  color: white;
  */
}

#menu {
  background: transparent;
  /* font-size: 2em; */
  /* padding: 1em; */
  /* border: 1px solid #999; */
  /* margin-top: 0.5em; */
  /* max-width: 20em; */
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; /* */
}

@keyframes fadeInOut {
   0% {opacity: 0;}
   100% {opacity: 1;}
} 

@-webkit-keyframes fadeInOut {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeInOut {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
} /* https://www.tutorialspoint.com/css/css_animation_fade_in.htm */

.portfolio-nav .portfolio-cell, .portfolio img {
  border-color: transparent;
}

.portfolio-nav .portfolio-cell.is-nav-selected {
  border-color: dimgray;
}
.portfolio-nav .portfolio-cell:hover {
  border-color: var(--charcoal);
}
</style>
<style>
  .portfolio-cell {
    opacity: 0;
  }
  
  .portfolio img {
    /* padding-left: 0rem;
    padding-right: 0rem; */

    position: absolute;
    /* min-height: 100%; */
    /* height: 100vh !important; */

    background-repeat: no-repeat;
    /* background-attachment: scroll; */
    background-position: center;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
  }

  .translateY-custom {
    /* Alt: https://stackoverflow.com/questions/36794634/how-to-create-a-css-translatey-on-hover-effect */
    -webkit-transform: translateY(60%);
    transform: translateY(60%);
    /* Analogue timing roblaplaca.com/examples/bezierBuilder */
    -webkit-transition: all .8s cubic-bezier(.3, 0, .02, 1);
			 -moz-transition: all .8s cubic-bezier(.3, 0, .02, 1);
				 -o-transition: all .8s cubic-bezier(.3, 0, .02, 1);
						transition: all .8s cubic-bezier(.3, 0, .02, 1);
  }
  .translateY-custom:hover {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
</style>

<aside class="fadeInOut w-100 vw-100 top-0 left-0 z-9999 fixed" id="menu" aria-expanded="" ><!-- debug hidden -->



  <button
    class="bn bg-transparent button-reset charcoal dim fr w-10 right-0 top-0 fixed z-max f1 f2-ns f1-m f-headline-l pointer"
    id="menuClose" >×</button><!-- near-white ts1-dark-gray https://codepen.io/inspiredlabs/pen/ydadxB -->
  
  <!-- {{/* RANGE THROUGH THIS CORRECTLY */}}
    <div class="w-50 fixed z-2 mt0 pa1 top-0 z-2">
    <a href="#cell01">Cell 1</a>,
    <a href="#cell02">Cell 2</a>,
    <a href="#cell03">Cell 3</a>,
    <a href="#cell04">Cell 4</a>,
    <a href="#cell05">Cell 5</a>
  </div> -->

  <div class="bottom-0 h5 o-0 hover-o-100  w-100 left-0 z-3 fixed pt6 translateY-custom"><!-- debug bg-red  -->
  <nav class="portfolio portfolio-nav bg-transparent bn ma0 pa0 h4 bottom-0 ">
    <!-- data-flickity='{ "asNavFor": ".portfolio-main", "contain": true, "pageDots": false, "prevNextButtons": false }' h3 h3-ns h3-m h3-l -->
    <!-- https://tachyons.io/components/layout/aspect-ratio-1x1/index.html -->
  
  
    {{ range .Data.Pages.ByDate.Reverse }}{{/* .ByWeight */}}
    {{ with .Resources.ByType "image" }}
    
    {{ range . }}
    <img class="cell-{{ sha1 .Title }}
          cover portfolio-cell ba bw1 b--transparent transition pointer h3 w3 h4-l w4-l
          bg-{{/* .RegularPages.Params.background */}}"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciLz4="
      data-flickity-bg-lazyload="{{ .RelPermalink | absURL }}">
    {{ end }}
    
    {{ end }}
    {{ end }}
  </nav>
  </div>

  <!-- Flickity HTML init GOAL:{{/* $bg := .Params.bg = f00 || .Params "description" */}}
    {{/* $description := "#f00" }}{{ $description */}}
   -->
  <div class="portfolio portfolio-main bg-charcoal top-0 left-0 fixed w-100 vw-100 h-100 vh-100 z-1 " ><!-- data-flickity='{ "prevNextButtons": false, "pageDots": false, "wrapAround": true, "contain": true, "hash": true,
  "bgLazyLoad": true }' -->
    
  

    {{ range .Data.Pages.ByDate.Reverse }}{{/* .ByWeight */}}
    {{ $bg := .Params.bg }}
    {{ with .Resources.ByType "image" }}
    
    
    {{ range . }}
    {{/* NOTE: sha1 .Title https://discourse.gohugo.io/t/looking-for-a-futureproof-uniqueid/18936/4 */}}
    <img id="cell-{{ sha1 .Title }}" class='bg-
                    portfolio-cell no-select cell-{{ sha1 .Title }} 
                    w-100 vw-100 h-100 vh-100'
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciLz4="
      data-flickity-bg-lazyload="{{ .RelPermalink | absURL }}"
      style="background-color:{{ $bg }}">
    {{ end }}
    {{ end }}
    {{ end }}

  </div>
</aside>

{{ .Render "list" }}


{{ if .IsHome }}
<link rel="stylesheet" href="{{ .Site.BaseURL | absURL }}css/flickity.css"><!-- flickity.min.css -->
<script src="{{ .Site.BaseURL | absURL }}js/flickity.js"></script>
{{ end }}

<style>
  .static {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    overflow: hidden;
  }
</style>

<script>
  const static = function () {
    document.ontouchmove = function (e) {
      e.preventDefault()
    };
    document.documentElement.className += 'static';
  };
  
  const scrolling = function () {
    document.ontouchmove = function (e) {
      e.enableDefault()
    };
    document.documentElement.className = document.documentElement.className.replace(/(?:^|\s)static(?!\S)/g, '');
  };
</script>

<script>
  // Store togglable elements
  const toggleButton = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');

  // Two discreet functions
  let expanded = true;
  function toggleMenu() {
    if (expanded == true) {
      //do...
      scrolling();
      closeMenu();
    } else if (expanded == false) {
      //do...
      static();
      showMenu();
    } return;
  }

  // The menu is NOT expanded, so...
  function showMenu() {
    menu.toggleAttribute('hidden', false);

    setTimeout(function () {

      toggleButton.toggleAttribute('aria-expanded', true);
      expanded = true;
    }, 10);
  };//showMenu()

  // The menu IS expanded, so...
  function closeMenu() {

    toggleButton.toggleAttribute('aria-expanded', false);

    setTimeout(function () {
      menu.toggleAttribute('hidden', true);
      expanded = false;
    }, 10);
  }//closeMenu()


  // Attach click handler to toggle
  toggleButton.addEventListener('click', (e) => {
    toggleMenu();
    //return;
  });

  

</script>


<script>
  // Store toggle and menu elements
  
  const menuClose = document.getElementById('menuClose');
  // Attach click handler to toggle
  menuClose.addEventListener('click', (e) => {
    toggleMenu();
  });  
</script>

<script>

document.onkeydown = function(e) {
  e = e || window.event;
  var isEscape = false;
  if ('key' in e) {
    isEscape = (e.key == 'Escape' || e.key == 'Esc');
  } else {
    isEscape = (e.keyCode == 27);
  }
  if (isEscape) {
    //do...
    scrolling();
    closeMenu();
  }
};  
</script>

<script>
  // better dissolve: https://stackoverflow.com/questions/6121203/how-to-do-fade-in-and-fade-out-with-javascript-and-css
  var portfolio = document.querySelector('.portfolio');

  var flickity = new Flickity('.portfolio-main', {
    hash: true,
    contain: true,
    pageDots: false,
    wrapAround: true,
    bgLazyLoad: true,
    prevNextButtons: false
  });
  var nav = new Flickity('.portfolio-nav', {
    asNavFor: '.portfolio-main',
    contain: true,
    pageDots: false,
    //wrapAround: true,
    prevNextButtons: false,
    bgLazyLoad: 3
  });

</script>

<script>
  
  /* var flkty = new Flickity('.portfolio', {
    wrapAround: true,
    pageDots: true
  });
  
  var buttonGroup = document.querySelector('.portfolio-btn');
  buttonGroup.addEventListener('click', function (event) {
    if (!matchesSelector(event.target, 'a')) {
      return;
    }

    function switchCell(Pause) {
      setTimeout(function () {
        var selector = event.target.getAttribute('data-selector');
        flkty.selectCell(selector);
      }, Pause);
    }
    switchCell(450);
  }); */

  

  window.addEventListener('orientationchange', function () {
    var originalBodyStyle = getComputedStyle(document.body).getPropertyValue('display');
    document.body.style.display = 'none';
    setTimeout(function () {
      document.body.style.display = originalBodyStyle;
    }, 10);
  });
  
  //stackoverflow.com/questions/12119107/prevent-javascript-function-from-firing-multiple-times add mouseover.

/*   document.addEventListener('DOMContentLoaded', function (event) {
    var _selector = document.querySelector('input[type=checkbox]#togglebox');
    _selector.addEventListener('change', function (event) {
      if (_selector.checked) {
        static();
      } else {
        scrolling();
      }
    });
  }); */
  
  
  
</script>

<style>
  @media all and (orientation:portrait) {
    .flickity-viewport {
      height: 100vh !important;
    }
  }

  @media all and (orientation:landscape) {
    .flickity-viewport {
      height: 100vh !important;
    }
  }
</style>

<!--script>
  if (navigator.vendor != null && navigator.vendor.match(/Apple Computer, Inc./) && navigator.userAgent.match(/iPhone/i) || (navigator.userAgent.match(/iPod/i))) {

    //alert("Ipod or Iphone");             
    document.getElementById("facetime").classList.add("visible");			//add
    document.getElementById("facetime").classList.remove("hidden");	//remove

    document.getElementById("vcard").classList.add("hidden");			//add
    document.getElementById("vcard").classList.remove("visible");	//remove

  }

  else if (navigator.vendor != null && navigator.vendor.match(/Apple Computer, Inc./) && navigator.userAgent.match(/iPad/i)) {

    //alert("Ipad");
    document.getElementById("facetime").classList.add("visible");			//add
    document.getElementById("facetime").classList.remove("hidden");	//remove

    document.getElementById("vcard").classList.add("hidden");			//add
    document.getElementById("vcard").classList.remove("visible");	//remove

  }

  else if (navigator.vendor != null && navigator.vendor.match(/Apple Computer, Inc./) && navigator.userAgent.indexOf('Safari') != -1) {

    //alert("Safari");
    //document.getElementById("offcanvas-menu").classList.add("vanilla");			//add
    //document.getElementById("offcanvas-menu").classList.remove('iOS');	//remove

  }

  else if (navigator.vendor == null || navigator.vendor != null) {

    //alert("Not Apple Based Browser");
    //document.getElementById("offcanvas-menu").classList.add("vanilla");			//add
    //document.getElementById("offcanvas-menu").classList.remove('iOS');	//remove

  }
</script-->

<script>
  (function () {
    // IIFE
    scrolling();
    closeMenu();
  })();
</script>

<!--script>
  document.addEventListener("DOMContentLoaded", function () {
    //scrolling();
    //closeMenu();
    //alert('Good morning: Android debug and realign footer');
  });
</script-->
<!-- OFFLINE:
  https://gohugohq.com/howto/go-offline-with-service-worker/ -->
<!-- OPTIMISE WITHOUT IMAGES:
   https://gtmetrix.com/reports/hungry-wozniak-e915f8.netlify.com/NA0xKvbj -->